{% extends "layout.html" %}
{% block content %}

<div class="card auth-card">
    <div class="card-header text-center">
        <h4><i class="fa-solid fa-key"></i> Admin Forgot Password</h4>
    </div>
    <div class="card-body">
        <form method="POST" action="/forgot-password">
            <div class="mb-3">
                <label>Registered Email</label>
                <input type="email" name="email" class="form-control" required>
            </div>
            <button class="btn btn-primary w-100">Send Reset Link</button>
        </form>
    </div>
</div>

{% endblock %}
