{% extends "layout.html" %}
{% block content %}

<h2 class="page-title">Register As</h2>

<div class="row justify-content-center">
    <div class="col-md-4">
        <a href="/admin-signup" class="btn btn-outline-primary w-100 mb-3">
            <i class="fa-solid fa-user-tie me-2"></i> Admin Register
        </a>
    </div>
    <div class="col-md-4">
        <a href="/user-register" class="btn btn-outline-success w-100 mb-3">
            <i class="fa-solid fa-user me-2"></i> User Register
        </a>
    </div>
</div>

{% endblock %}
